# --- Entorno virtual ---
.venv/
venv/
env/

# --- Configuración y Secretos (CRÍTICO) ---
.env
.env.*
# Ignorar secretos de Streamlit si llegas a usarlos
.streamlit/secrets.toml

# --- Datos y Pesados ---
# Ignoramos la carpeta data pero permitimos que la estructura exista
data/vectore_store/
*.db
*.sqlite3
*.faiss
*.pkl
*.npy
*.npz
*.log

# Si los PDFs son privados, mantén esta línea. 
# Si quieres que el PDF de ejemplo se suba, comenta la siguiente línea:
data/raw/ 

# --- Archivos de usuario y temporales ---
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db
*.swp

# --- IDEs y Herramientas ---
.vscode/
.idea/
.ipynb_checkpoints/

# --- Test y Cobertura ---
.pytest_cache/
.coverage
htmlcov/