# Dependencias para el proyecto TFG RAG B-Resol

# Procesamiento de documentos y LangChain
PyMuPDF>=1.24.0
langchain-text-splitters>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0

# Modelos y Embeddings
langchain-huggingface>=0.1.0
langchain-google-genai>=1.0.0
sentence-transformers>=3.0.0

# Bases de datos vectoriales
faiss-cpu>=1.8.0
qdrant-client>=1.10.0
langchain-qdrant>=0.1.0

# Utilidades
python-dotenv>=1.0.1
streamlit>=1.38.0